<section class="mt-5">
    <a href="/new" class="btn btn-info">建立新的一筆</a>
    {{#if items}}
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">項目名稱</th>
                <th scope="col">時間</th>
                <th scope="col">金額</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
            <tr>
                <td><a href="/item/{{this._id}}">{{this.name}}</a></td>
                <td>{{this.date}}</td>
                <td>${{this.number}}</td>
                <td>

                    <a href="/item/edit/{{this._id}}" >修改</a>
                    <a href="" class="ms-3">刪除</a>
                </td>

            </tr>
            {{/each}}

        </tbody>
    </table>
    {{else}}
    <h4 class="mt-5">目前還沒有內容</h4>
    {{/if}}
    
</section>