<section class="mt-5">
    <div class="d-flex">
        <div class="left-content mt-3">
            <h5>按分類搜尋</h5>
            <div class="dropdown-center">
                <button class="btn btn-outline-dark search-dropdown text-start ps-4" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <div class="search-dropdown__triangle"></div>類別
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">全部</a></li>
                    <li><a class="dropdown-item" href="/item/house">家居物業</a></li>
                    <li><a class="dropdown-item" href="/item/transportation">交通出行</a></li>
                    <li><a class="dropdown-item" href="/item/entertainment">休閒娛樂</a></li>
                    <li><a class="dropdown-item" href="/item/food">餐飲食品</a></li>
                    <li><a class="dropdown-item" href="/item/other">其他</a></li>
                </ul>
            </div>

            <div class="mt-5 d-flex">
                <h5>總金額：</h5>
                <h1 class="ms-5">{{totalNum}}</h1>
            </div>

            {{#if items}}
            <ul class="mt-5 list-group">
                {{#each items}}
                <li class=" align-items-center justify-content-between mt-3 list-item">
                    <div class="d-flex align-items-center justify-content-between list-item-info">
                        <div class="detail d-flex align-items-center">
                            <i class="fas {{this.categoryId.img}} icon"
                                style="font-size:2rem; color:rgb(39,184,135);"></i>
                            <div class="ms-3 d-flex flex-column">
                                <span class="item-name fw-bold" style="font-size:1.25rem;">{{this.name}}</span>
                                <span class="" style="font-size:0.5rem;">{{this.date}}</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="num">{{this.number}}</div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <a href="/item/edit/{{ this._id }}" class="btn btn-light">修改</a>
                        <form action="/item/{{ this._id }}?_method=DELETE" method="POST">
                            <button class="ms-3 btn btn-light" type="submit">刪除</buttom>
                        </form>
                    </div>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <h4 class="mt-5">目前還沒有內容</h4>
            {{/if}}
            <a href="/item/new" class="btn mt-5 button-add-new" style="background-color: #E06B16; color:white;">新增支出</a>
        </div>
        <div class="right-content mx-auto chart-screen" style="width: 40%;">
            <canvas id="myChart" class=""></canvas>
        </div>
    </div>
        <div class="mx-auto chart-phone">
            <canvas id="myChart-2" class=""></canvas>
        </div>

    <script>

        const CATEGORY = {
            家居物業: `fa-house`,
            交通出行: `fa-van-shuttle`,
            休閒娛樂: `fa-face-grin-beam`,
            餐飲食品: `fa-utensils`,
            其他: `fa-pen`
        }
        const house = document.querySelectorAll('.fa-house')
        const transportation = document.querySelectorAll('.fa-van-shuttle')
        const entertainment = document.querySelectorAll('.fa-face-grin-beam')
        const food = document.querySelectorAll('.fa-utensils')
        const other = document.querySelectorAll('.fa-pen')

        let houseNUm = 0
        let transportationNum = 0
        let entertainmentNum = 0
        let foodNum = 0
        let otherNum = 0
        house.forEach((x) => {
            const item = x.parentElement.parentElement
            houseNUm += Number(item.children[1].children[0].innerHTML)
        })


        transportation.forEach((x) => {
            const item = x.parentElement.parentElement
            transportationNum += Number(item.children[1].children[0].innerHTML)
        })


        entertainment.forEach((x) => {
            const item = x.parentElement.parentElement
            entertainmentNum += Number(item.children[1].children[0].innerHTML)
        })


        food.forEach((x) => {
            const item = x.parentElement.parentElement
            foodNum += Number(item.children[1].children[0].innerHTML)
        })

        other.forEach((x) => {
            const item = x.parentElement.parentElement
            otherNum += Number(item.children[1].children[0].innerHTML)
        })




        const num = document.querySelectorAll('.num')
        const itemName = document.querySelectorAll('.item-name')
        let dataName = ['家居物業', '交通出行', '休閒娛樂', '餐飲食品', '其他']
        let dataNum = [houseNUm, transportationNum, entertainmentNum, foodNum, otherNum]


        /* itemName.forEach((x) => {
             dataName.push(x.innerHTML)
         })
         num.forEach((x) => {
             dataNum.push(Number(x.innerHTML))
         })*/

        const ctx = document.getElementById("myChart").getContext('2d')
        const ctx2 = document.getElementById("myChart-2").getContext('2d')
        let example = new Chart(ctx, {
            // 參數設定[註1]
            type: "pie", // 圖表類型
            data: {
                labels: dataName, // 標題
                datasets: [{
                    label: "# of Votes", // 標籤
                    data: dataNum, // 資料
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'],
                    borderWidth: 1 // 外框寬度
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        align: 'start',
                        text: '支出表格',
                        font: {
                            size: 36,
                        }
                    },
                    legend: {
                        display: true,
                        align: 'start',
                        labels: {
                            padding: 20,
                        },
                    }
                }


            }
        })

        let example2 = new Chart(ctx2, {
            // 參數設定[註1]
            type: "pie", // 圖表類型
            data: {
                labels: dataName, // 標題
                datasets: [{
                    label: "# of Votes", // 標籤
                    data: dataNum, // 資料
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'],
                    borderWidth: 1 // 外框寬度
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        align: 'start',
                        text: '支出表格',
                        font: {
                            size: 36,
                        }
                    },
                    legend: {
                        display: true,
                        align: 'start',
                        labels: {
                            padding: 20,
                        },
                    }
                }


            }
        })
    </script>

</section>